*{
    font-family: Helvetica;
  }
  body {
    margin: 0;
  }
  .foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: #001a0e 0.5px solid;
    text-align: center;
    color: #001a0e;
  }
  .nav {
    overflow: hidden;
    border-bottom: #001a0e 
    0.5px solid;
  }
  .nav a {
    float: left;
    color: #001a0e;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 12px;
  }
  .nav a:hover {
    background-color: #00a25e;
  }
  #right {
    float: right;
  }
  .feed {
    margin-left: 12.5%;
    width: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #ffffff;
    background-color: #001a0e;
    overflow: hidden;
    border-radius: 5px;
  }
  .feed p {
    margin-left: 5%;
    margin-right: 5%;
  }